.columns {
    align-items:flex-start;
    padding-left: 2vw;
}

.blankBox {
    background-color: transparent;
    max-width: 32vw;
}

.ticketCreator {
    background-color: gainsboro;
    max-width: 30vw;
    margin: 1vw;
}